@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    transition: box-shadow 0.6s ease;
}

header.scrolled {
    box-shadow: 0 20px 20px 40px rgba(76, 76, 76, 0.5);
    transition: 0.3s ease;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 56px;
    padding: 10px;
    background-color: #fff;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* box-shadow: 0px 5px 13px 10px rgba(192, 192, 193, 0.2); */
    z-index: 100;
}

.logo-container {
    position: fixed;
    top: -0.1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

#logo {
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
    width: 5.2em;
}

.sticky .logo-container {
    position: fixed;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
}

#logo:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

#brand {
    font-size: 18.85px;
    font-weight: 800;
    letter-spacing: .13em;
    line-height: 1em;
    margin: 0;
    color: #0a2458;
    text-transform: uppercase;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#brand:hover {
    color: #9c1919;
    cursor: pointer;
}


#menu {
    font-size: 18.85px;
    font-weight: 500;
    letter-spacing: .13em;
    line-height: 1em;
    margin: 0;
    color: #0a2458;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s ease;
}

#menu {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    letter-spacing: .04em;
    line-height: 22px;
    border-top: 3px double black;
    border-bottom: 3px double black;
    cursor: pointer;
    width: 30px;
    text-align: center;
    transition: 0.3s ease;
}

#menu:hover {
    border-color: #9c1919;
    color: #9c1919;
    padding-top: .2em;
    padding-bottom: .2em;
    transition: 0.3s ease;
}

@media (max-width: 599px) {
    #brand {
        font-size: 12.85px;

    }
}

@media (max-width: 399px) {

    #brand {
        font-size: 8px;
    }
}